.error__container {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF6565;
    width: 720px;
    height: 89px;
    padding: 33px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 4px 9.899999618530273px 0 #00000040;

}
.error__text {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
}